# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/


data/
logs/

config.json
out.csv
out_metadata.csv
metadata/

*.h5

#notebooks
*.ipynb

#logs
*.log
*.log.*

.env

*.csv

.DS_Store
