# Docker
IMAGE_NAME=example-db-access-image
CONTAINER_NAME=example-db-access-container

# Ports
HOST_PORT=5000
APP_HOST=0.0.0.0
APP_PORT=5000

# Postgres
DB_HOST=example-postgres-host
DB_PORT=5432
DB_NAME=example_database_name
DB_USER=example_database_user
DB_PASSWORD=example_database_password

# App URL
BASE_URL=http://localhost:5000

# Flask
FLASK_APP=db_access.py