version: "3.8"

services:
  db-access:
    build: .
    image: ${IMAGE_NAME}
    container_name: ${CONTAINER_NAME}
    ports:
      - "${HOST_PORT}:${APP_PORT}"
    env_file:
      - .env
    restart: always
    command: >
      gunicorn
        -w 4
        -b 0.0.0.0:${APP_PORT}
        db_access:app
        --log-level info
        --access-logfile /app/logs/gunicorn.access.log
        --error-logfile  /app/logs/gunicorn.error.log
        --capture-output