# API to access the database service (db-access)
API_URL=http://example-db-access:5000

# HERON API credentials
HERON_DOMAIN=example.domain.com
HERON_EMAIL=example_user@email.com
HERON_PASS=example_password